body {
  font-family: Arial;
  text-align: center;
  background-color: #f0f7f4;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: #84a98c;
  color: white;
  border: none;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}